body {
  background-color: #000000;
}

h1 {
  color: yellow;
  font-size: 50px;
}

h2 {
  color: white;
  font-size: 35px;
}

.table-title {
  border: solid 2px #fff;
  color: #fff;
}

.table-item {
  border: solid 2px #fff;
  color: #fff;
}

table {
  border-color: #fff;
}
